body {
  background: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* https://images.unsplash.com/photo-1516997637904-9d1c9d44e585?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80

https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80*/

/* HOME PAGE */
.App {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  /* min-height: ; */
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

.add-new-task:hover {
  color: gray;
  transform: scale(1.5);
}

.add-new-task:hover:after {
  color: white;
  content: "add a new task";
  position: absolute;
  font-size: 9px;
  top: 16px;
  left: 10px;
  right: 10px;
}

/* NAV */
nav a {
  padding: 10px;
}

nav a:hover {
  transform: scale(1.5);
}

/* USERGREETING */
.hidden {
  display: none;
}

.user-greeting-form h2 span {
  text-decoration: none;
  position: relative;
}

.user-greeting-form h2 span:hover {
  text-decoration: line-through;
}

.user-greeting-form h2 span:hover:after {
  content: "click here to change name";
  position: absolute;
  font-size: 9px;
  top: 24px;
  left: 0;
}

/* CLOCK */
.clock h1 {
  font-size: 8vw;
}

/* FOOTER */
.footer {
  margin-top: 60vh;
}

/* FORM */
.form-page {
  margin-top: 40vh;
}
