body {
  background: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* HOME PAGE */
.App {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page {
  min-height: calc(100vh - 80px);
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.add-new-task {
  transition-duration: 0.5s;
  transition-property: transform;
}

.add-new-task:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.add-new-task:hover:after {
  color: white;
  content: "add a new task";
  position: absolute;
  font-size: 9px;
  top: 28px;
  left: 10px;
  right: 10px;
}

/* NAV */
nav {
  margin-bottom: 30vh;
  font-weight: bold;
}

nav a {
  padding: 10px;
}

nav a:hover {
  transform: scale(1.5);
}

/* NAME INPUT */
.name-input,
#task-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-bottom: 5px solid white;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: 2em;
  text-align: center;
}

.name-input:focus {
  border-bottom: 5px solid white;
  outline: none;
}

/* USERGREETING */
.hidden {
  display: none;
}

.user-greeting-form {
  font-size: 24px;
}

.user-greeting-form h2 span {
  text-decoration: none;
  position: relative;
}

.user-greeting-form h2 span:hover {
  text-decoration: line-through;
}

.user-greeting-form h2 span:hover:after {
  content: "click here to change name";
  position: absolute;
  font-size: 11px;
  top: 36px;
  left: 0;
}

/* CLOCK */
.clock {
  margin-top: 10vh;
}

.clock h1 {
  font-size: 72px;
  margin: 2vh 0;
}

/* TASKS */
.tasks-container h3 {
  font-size: 2em;
}

#task-input:focus,
.checkbox:focus {
  outline: none;
}

/* CUSTOM CHECKBOXES HELP FROM HERE: https://www.html5canvastutorials.com/blog/2012/06/custom-form-radio-checkbox/ */
.checkbox {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  position: relative;
}

.checkbox:active,
.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked:after {
  content: "\2713";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white;
}

.indiv-task {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indiv-task label {
  padding-left: 2px;
}
/* QUOTE */
.quote {
  font-size: 25px;
  font-style: italic;
}

/* FORM */
.form-page {
  margin-top: 4vh;
  font-size: 20px;
}

/* FOOTER */
.footer {
  width: 100vw;
}

.footer a {
  padding: 0 2px 0 5px;
}

.photo-credit {
  display: flex;
  padding-left: 10px;
  font-size: 12px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.photo-credit:hover {
  font-size: 14px;
}

.photo-credit:hover:after {
  content: "Garret Parker, Unsplash";
  top: 0px;
  left: 20px;
}

@media screen and (max-width: 320px) {
  .clock h1 {
    font-size: 60px;
  }

  .quote {
    font-size: 20px;
  }

  .add-new-task {
    font-size: 24px;
  }

  .add-new-task:hover:after {
    color: white;
    content: "add a new task";
    position: absolute;
    font-size: 9px;
    top: 32px;
    left: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 786px) and (min-width: 320px) {
  .add-new-task {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    margin: 0 10px;
  }

  .add-new-task {
    font-size: 24px;
  }
}

@media screen and (min-width: 787px) {
  .add-new-task {
    font-size: 28px;
  }
}
